page-login {
  .buttonfb{
    background-color: #f4f4f4;
    background-image: url(https://candeocreative.files.wordpress.com/2015/11/facebook-wordmark.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 200%;
  }
}
